<template>
    <el-dialog
        title="Категория"
        :visible.sync="modalVisible"
        :modal="false"
        width="50%"
        @closed="resetForm"
    >
        <el-form label-width="100px" size="mini" v-loading="formLoading">
            <el-row :gutter="20">
                <el-col :xs="24" :span="24">
                    <el-form-item label="Категория" :error="errors.get('category_id')">
                        <el-select v-model="form.category_id" clearable filterable style="width: 100%">
                            <el-option
                                v-for="(category, index) in categories"
                                :label="category.name"
                                :value="category.id"
                                :key="index"
                            >
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="close">Отмена</el-button>
      <el-button
          size="small"
          type="success"
          :loading="submitLoading"
          @click="submit"
      >
        {{ form.primary_id ? "Сохранить" : "Создать" }}
      </el-button>
    </span>
    </el-dialog>
</template>

<script>
    import methods from "../../includes/util";
    import Errors from "../../includes/Errors";

    export default {
        data() {
            const form = {
                primary_id: null,
                name: "",
                advcampaign_id: 0,
                category_id: 0
            };

            return {
                modalVisible: false,
                form: _.cloneDeep(form),
                originForm: _.cloneDeep(form),
                errors: new Errors(),
                formLoading: false,
                submitLoading: false,
                categories: [],
            };
        },
        methods: {
            ...methods,
            fetchRecord() {
                this.formLoading = true;

                axios.get(server + "advcampaign_categories/" + this.form.primary_id)
                    .then(response => {
                        this.form = this.mergeExistingFields(this.form, response.data);
                    })
                    .catch(error => {
                        if (error.response && error.response.data.message) {
                            this.$message.error(error.response.data.message);
                        } else {
                            this.$message.error("Unknown server error");
                        }
                    })
                    .finally(() => {
                        this.formLoading = false;
                    });
            },
            open(id = null) {
                if (id) {
                    this.form.primary_id = id;
                    this.fetchRecord();
                }
                this.fetchCategories();
                this.modalVisible = true;
            },
            close() {
                this.modalVisible = false;
            },
            resetForm() {
                this.form = _.cloneDeep(this.originForm);
                this.errors.clear();
            },
            submit() {
                this.submitLoading = true;
                const request = this.form.primary_id
                    ? axios.put(server + "advcampaign_categories/" + this.form.primary_id, this.form)
                    : axios.post(server + "advcampaign_categories", this.form);
                request
                    .then(response => {
                        this.$emit("submitted");
                        this.$message.success("Запись успешно сохранена");
                        this.close();
                    })
                    .catch(error => {
                        if (error.response && error.response.data.errors) {
                            this.errors.record(error.response.data.errors);
                        } else if (error.response && error.response.data.message) {
                            this.$message.error(error.response.data.message);
                        } else {
                            this.$message.error("Unknown server error");
                        }
                    })
                    .finally(() => {
                        this.submitLoading = false;
                    });
            },
            fetchCategories() {
                const url = server + "categories";
                axios.get(url)
                    .then(response => {
                        this.categories = response.data;
                    })
                    .catch(error => {
                        if (error.response.data.message) {
                            this.$message.error(error.response.data.message);
                        } else {
                            this.$message.error("Unknown server error");
                        }
                    })
                    .finally(() => {
                        //
                    });
            }

        },
        mounted() {
            //this.fetchCategories();
        },
    };
</script>
