<template>
  <footer class="footer">
    <div class="container-fluid d-flex flex-wrap justify-content-between">
      <div class="copyright d-flex flex-wrap">
        &copy; Создано&nbsp;<a href="https://olja.kz" target="_blank"
          >Olja.kz</a
        >
      </div>
    </div>
  </footer>
</template>
<script>
export default {};
</script>
<style></style>
