<template>
    <div class="wrapper">
        <side-bar>
            <template slot="links">
                <sidebar-link to="/dashboard" name="Главная" icon="ti-panel"/>
                <sidebar-link
                    to="/advcampaigns"
                    name="Кампании"
                    icon="ti-view-list-alt"
                />
                <sidebar-link
                    to="/categories"
                    name="Категории"
                    icon="ti-view-list-alt"
                />
                <sidebar-link
                    to="/advcampaign_categories"
                    name="Категории кампаний"
                    icon="ti-view-list-alt"
                />
            </template>
            <mobile-menu>
                <li class="nav-item">
                    <el-link class="nav-link" :underline="false" @click="logout">
                        <i class="ti-close"></i>
                        <p>Выход</p>
                    </el-link>
                </li>
                <li class="divider"></li>
            </mobile-menu>
        </side-bar>
        <div class="main-panel">
            <top-navbar></top-navbar>

            <dashboard-content @click.native="toggleSidebar"></dashboard-content>

            <content-footer></content-footer>
        </div>
    </div>
</template>
<style lang="scss"></style>
<script>
    import TopNavbar from "./TopNavbar.vue";
    import ContentFooter from "./ContentFooter.vue";
    import DashboardContent from "./Content.vue";
    import MobileMenu from "./MobileMenu";

    export default {
        components: {
            TopNavbar,
            ContentFooter,
            DashboardContent,
            MobileMenu
        },
        methods: {
            toggleSidebar() {
                if (this.$sidebar.showSidebar) {
                    this.$sidebar.displaySidebar(false);
                }
            },
            logout() {
                this.$confirm('Вы действтельно хотите выйти?', 'Подтверждение', {
                    type: 'info'
                }).then(() => {
                    this.$store.dispatch('destroyToken').then(() => {
                        this.$router.push({ path: '/login' });
                    });
                });
            },
        }
    };
</script>
