<template>
    <div class="row">
        <div class="col-12">
            <card>
                <el-row>
                    <el-col :span="24">
                        <el-form :inline="true" :model="filters" size="mini">
                            <el-form-item>
                                <el-select
                                    v-model="filters.advcampaign"
                                    clearable
                                    filterable
                                    size="mini"
                                    placeholder="Кампания">
                                    <el-option
                                        class="location-color-wrap"
                                        v-for="advcampaign in filterData.advcampaigns"
                                        :key="advcampaign.id"
                                        :label="advcampaign.name"
                                        :value="advcampaign.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item>
                                <el-input
                                    v-model="filters.name"
                                    clearable
                                    filterable
                                    size="mini"
                                    placeholder="Название">
                                </el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-input
                                    v-model="filters.id"
                                    clearable
                                    filterable
                                    size="mini"
                                    placeholder="ID товара в магазине">
                                </el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-checkbox
                                    v-model="filters.withOffers"
                                    size="mini"
                                    label="Только с товарам">
                                </el-checkbox>
                            </el-form-item>
                            <el-form-item>
                                <el-checkbox
                                    v-model="filters.withCategories"
                                    size="mini"
                                    label="Только с категориями">
                                </el-checkbox>
                            </el-form-item>
                        </el-form>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="24">
                        <el-table :data="records" v-loading="recordsLoading">
                            <el-table-column label="ID" width="80">
                                <template slot-scope="scope">
                                    <div>{{ scope.row.primary_id }}</div>
                                </template>
                            </el-table-column>
                            <el-table-column label="Род. кат." width="100">
                                <template slot-scope="scope">
                                    <div>
                                        <el-link type="primary" :underline="false"
                                                 @click="filterById(scope.row.parent_id)">{{ scope.row.parent_id }}
                                        </el-link>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column label="Название">
                                <template slot-scope="scope">
                                    <div :class="{'bold-text': filters.id === scope.row.id}">{{ scope.row.name }}
                                        <el-link type="primary" :underline="false" @click="filterById(scope.row.id)">{{
                                            scope.row.id }}
                                        </el-link>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column label="Товары" width="100">
                                <template slot-scope="scope">
                                    <div><a :href="offer_link+scope.row.advcampaign_id+'/'+scope.row.id"
                                            target="_blank">{{ scope.row.offers_count }}</a></div>
                                </template>
                            </el-table-column>
                            <el-table-column label="Кампания" width="120">
                                <template slot-scope="scope">
                                    <div>{{ scope.row.advcampaign }}</div>
                                </template>
                            </el-table-column>
                            <el-table-column label="Категория" width="200">
                                <template slot-scope="scope">
                                    <div>{{ scope.row.category }}</div>
                                </template>
                            </el-table-column>
                            <el-table-column label="Действия" width="100">
                                <template slot-scope="scope">
                                    <el-tooltip
                                        placement="top"
                                        content="Редактировать"
                                        :open-delay="300"
                                    >
                                        <span>
                                          <el-button
                                              size="mini"
                                              type="warning"
                                              @click="openModal(scope.row.primary_id)"
                                              icon="el-icon-edit"
                                          >
                                          </el-button>
                                        </span>
                                    </el-tooltip>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div>
                            <el-pagination
                                layout="prev, pager, next, total"
                                :current-page.sync="page"
                                :page-size.sync="pageSize"
                                :total="total"
                                small
                                class="pull-right"
                            >
                            </el-pagination>
                        </div>
                    </el-col>
                </el-row>
                <modal-form ref="modal" @submitted="fetchRecords"></modal-form>
            </card>
        </div>
    </div>
</template>

<script>
    import methods from "../includes/util";
    import Errors from "../includes/Errors";
    import ModalForm from "./AdvcampaignCategories/ModalForm";

    export default {
        data() {
            return {
                records: [],
                offer_link: server + 'offer/offer-by-category/',
                recordsLoading: false,
                page: 1,
                pageSize: 10,
                total: 0,
                errors: new Errors(),
                filters: {
                    advcampaign: '',
                    name: '',
                    id: '',
                    withOffers: true,
                    withCategories: false,
                },
                filterData: {
                    advcampaigns: [],
                    name: '',
                    id: '',
                    withOffers: true,
                    withCategories: false,
                },
            };
        },
        methods: {
            ...methods,
            filterById(id) {
                this.filters.id = id;
            },
            fetchFilterData() {
                const url = server + "advcampaign_categories/filter-data";
                axios.get(url).then(response => {
                    this.filterData = this.mergeExistingFields(this.filterData, response.data);
                });
            },
            openModal(id = null) {
                this.$refs.modal.open(id);
            },
            fetchRecords() {
                const url = server + "advcampaign_categories/list";
                this.recordsLoading = true;
                axios.get(url, {
                    params: {
                        page: this.page,
                        pageSize: this.pageSize,
                        ...this.filters,
                    }
                })
                    .then(response => {
                        this.total = response.data.total;
                        this.records = response.data.data;
                    })
                    .catch(error => {
                        if (error.response.data.message) {
                            this.$message.error(error.response.data.message);
                        } else {
                            this.$message.error("Unknown server error");
                        }
                    })
                    .finally(() => {
                        this.recordsLoading = false;
                    });
            }
        },
        watch: {
            page: function () {
                this.fetchRecords();
            },
            filters: {
                handler: function () {
                    this.fetchRecords();
                },
                deep: true,
            },
        },
        mounted() {
            this.fetchRecords();
            this.fetchFilterData();
        },
        components: {
            ModalForm,
        }
    };
</script>

<style scoped>
    .bold-text {
        font-weight: bold;
    }
</style>
