<template>
    <div class="row">
        <div class="col-12">
            <card>
                <el-row>
                    <el-col :span="24">
                        <el-form :inline="true" :model="filters" size="mini">
                            <el-form-item>
                                <el-input
                                    v-model="filters.name"
                                    clearable
                                    filterable
                                    size="mini"
                                    placeholder="Название">
                                </el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-input
                                    v-model="filters.id"
                                    clearable
                                    filterable
                                    size="mini"
                                    placeholder="ID кампании">
                                </el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-checkbox
                                    v-model="filters.active"
                                    size="mini"
                                    label="Только активные">
                                </el-checkbox>
                            </el-form-item>
                        </el-form>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="24">
                        <el-table :data="records" v-loading="recordsLoading">
                            <el-table-column label="ID" width="80">
                                <template slot-scope="scope">
                                    <div>{{ scope.row.id }}</div>
                                </template>
                            </el-table-column>
                            <el-table-column label="Название">
                                <template slot-scope="scope">
                                    <div>{{ scope.row.name }}</div>
                                </template>
                            </el-table-column>
                            <el-table-column label="Активные" width="100">
                                <template slot-scope="scope">
                                    <div style="text-align: center">
                                        <el-checkbox :checked="!!scope.row.importable"
                                                     @change="toggleActive(scope.row.primary_id)"
                                        >
                                        </el-checkbox>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column label="CSV" width="80">
                                <template slot-scope="scope">
                                    <div>{{ scope.row.template_csv_id }}</div>
                                </template>
                            </el-table-column>
                            <el-table-column label="XML" width="80">
                                <template slot-scope="scope">
                                    <div>{{ scope.row.template_xml_id }}</div>
                                </template>
                            </el-table-column>
                            <el-table-column label="Import Time" width="160">
                                <template slot-scope="scope">
                                    <div>{{ scope.row.import_time }}</div>
                                </template>
                            </el-table-column>
                            <el-table-column label="Last Import" width="160">
                                <template slot-scope="scope">
                                    <div>{{ scope.row.last_import }}</div>
                                </template>
                            </el-table-column>
                            <el-table-column label="Действия" width="100">
                                <template slot-scope="scope">
                                    <el-tooltip
                                        placement="top"
                                        content="Редактировать"
                                        :open-delay="300"
                                    >
                                        <span>
                                             <el-button
                                                 size="mini"
                                                 type="warning"
                                                 @click="openModal(scope.row.primary_id)"
                                                 icon="el-icon-edit"
                                             >
                                          </el-button>
                                        </span>
                                    </el-tooltip>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div>
                            <el-pagination
                                layout="prev, pager, next, total"
                                :current-page.sync="page"
                                :page-size.sync="pageSize"
                                :total="total"
                                small
                                class="pull-right"
                            >
                            </el-pagination>
                        </div>
                    </el-col>
                </el-row>
                <modal-form ref="modal" @submitted="fetchRecords"></modal-form>
            </card>
        </div>
    </div>
</template>

<script>
    import methods from "~/includes/util";
    import Errors from "~/includes/Errors";
    import ModalForm from "./Advcampaigns/ModalForm";
    import {
        advcampaignsToggleActive,
        getAdvcampaignsList
    } from "~/includes/endpoints";

    export default {
        data() {
            return {
                records: [],
                offer_link: server + 'offer/offer-by-category/',
                recordsLoading: false,
                page: 1,
                pageSize: 10,
                total: 0,
                errors: new Errors(),
                filters: {
                    advcampaign: '',
                    name: '',
                    id: '',
                    active: false,
                },
                filterData: {
                    advcampaigns: [],
                    name: '',
                    id: '',
                    active: false,
                },
            };
        },
        methods: {
            ...methods,
            toggleActive(id) {
                this.recordsLoading = true;
                advcampaignsToggleActive({id: id})
                    .then(response => {
                        this.$message.success(response.data.message);
                    })
                    .catch(error => {
                        if (error.response && error.response.data.errors) {
                            this.errors.record(error.response.data.errors);
                        } else if (error.response && error.response.data.message) {
                            this.$message.error(error.response.data.message);
                        } else {
                            this.$message.error("Unknown server error");
                        }
                    })
                    .finally(() => {
                        this.fetchRecords();
                    });
            },
            filterById(id) {
                this.filters.id = id;
            },
            openModal(id = null) {
                this.$refs.modal.open(id);
            },
            fetchRecords() {
                this.recordsLoading = true;
                getAdvcampaignsList({
                    page: this.page,
                    pageSize: this.pageSize,
                    ...this.filters,
                })
                    .then(response => {
                        this.total = response.data.total;
                        this.records = response.data.data;
                    })
                    .catch(error => {
                        if (error.response.data.message) {
                            this.$message.error(error.response.data.message);
                        } else {
                            this.$message.error("Unknown server error");
                        }
                    })
                    .finally(() => {
                        this.recordsLoading = false;
                    });
            }
        },
        watch: {
            page: function () {
                this.fetchRecords();
            },
            filters: {
                handler: function () {
                    this.fetchRecords();
                },
                deep: true,
            },
        },
        mounted() {
            this.fetchRecords();
        },
        components: {
            ModalForm,
        }
    };
</script>

<style scoped>
    .bold-text {
        font-weight: bold;
    }
</style>
