<template>
    <div>
        <el-dialog
            :title="(this.parentName ? 'Добавить категорию' : 'Редактровать категорию')"
            :visible.sync="dialogVisible"
            :modal="false"
            width="50%"
        >
            <span>
                <span v-if="this.parentName">Родительская категория: <strong>{{ this.parentName }}</strong></span>
                <el-input
                  placeholder="Введите название категории"
                  size="mini"
                  v-model="input"
                  :minlength="1"
                ></el-input>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button size="mini" @click="dialogVisible = false">Отмена</el-button>
                <el-button size="mini" type="primary" @click="() => append(this.currentId, !!this.parentName)">{{(this.parentName ? 'Создать' : 'Сохранить')}}</el-button>
            </span>
        </el-dialog>
        <div class="row">
            <div class="col-12">
                <card>
                    <el-tree
                        :props="props"
                        :load="loadNode"
                        node-key="id"
                        accordion
                        ref="tree"
                        lazy
                        :expand-on-click-node="false"
                        check-strictly
                    >
                        <span class="custom-tree-node" slot-scope="{ node, data }">
                            <span>{{ node.data.name }}</span>
                            <span>
                                <el-button
                                    type="success"
                                    icon="el-icon-plus"
                                    size="mini"
                                    style="height: 25px;"
                                    @click="showCreateDialog(data.id)">
                                </el-button>
                                <el-button
                                    type="primary"
                                    icon="el-icon-edit"
                                    size="mini"
                                    style="height: 25px;"
                                    @click="showEditDialog(data.id)">
                                </el-button>
                                <el-button
                                    type="danger"
                                    icon="el-icon-delete"
                                    size="mini"
                                    style="height: 25px;"
                                    @click="() => destroyModal(node, data)">
                                </el-button>
                            </span>
                        </span>
                    </el-tree>
                </card>
                <el-button @click="showCreateDialog(1)">Создать корневую категорию</el-button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                dialogVisible: false,
                currentId: null,
                parentName: '',
                input: '',
                props: {
                    label: 'name',
                    children: 'children',
                    isLeaf: 'leaf'
                }
            };
        },
        methods: {
            destroyModal(node, data) {
                this.$confirm('Вы действительно хотите удалить категорию?', 'Предупреждение', {
                    type: 'warning'
                }).then(() => {
                    this.remove(node, data);
                }).catch(() => {
                    //
                });
            },
            showCreateDialog(id) {
                this.currentId = id;
                this.parentName = (id !== 1) ? this.$refs.tree.getNode(id).data.name : 'Корень';
                if (id === 1) {
                    this.input = '';
                }
                this.dialogVisible = true;
            },
            showEditDialog(id) {
                this.currentId = id;
                this.edit(id);
                this.parentName = null;
                this.dialogVisible = true;
            },
            loadNode(node, resolve) {
                let id = 1;
                if (node.level > 0) {
                    id = node.data.id;
                }
                const url = server + 'categories/' + id;
                axios.get(url).then(response => {
                    return resolve(response.data);
                }).catch(error => {
                    if (error.response.data.message) {
                        this.$message.error(error.response.data.message);
                    } else {
                        this.$message.error('Unknown server error');
                    }
                }).finally(() => {

                });
                return resolve([]);
            },
            async append(id, isCreate) {
                const createUrl = server + 'categories';
                const updateUrl = server + 'categories/' + id;
                let action = isCreate
                    ? axios.post(createUrl, {id: id, name: this.input})
                    : axios.patch(updateUrl, {id: id, name: this.input});
                await action
                    .then(response => {
                        if (!isCreate) {
                            this.$refs.tree.getNode(id).data.name = this.input;
                        }
                        this.$message.success(response.data.message);
                    })
                    .catch(error => {
                        if (error.response.data.message) {
                            this.$message.error(error.response.data.message);
                        } else {
                            this.$message.error('Unknown server error');
                        }
                    })
                    .finally(() => {
                        this.dialogVisible = false;
                        this.input = '';
                        this.reload(id);
                    });
            },

            async btnClick() {
                const url = server + 'categories';
                await axios.post(url, {id: 1, name: this.input})
                    .then(response => {
                        //console.log(response);
                    })
                    .catch(error => {
                        if (error.response.data.message) {
                            this.$message.error(error.response.data.message);
                        } else {
                            this.$message.error('Unknown server error');
                        }
                    })
                    .finally(() => {
                        this.dialogVisible = false;
                        this.input = '';
                        this.reload(1);
                    });
            },

            async reload(id) {
                let data;
                const url = server + 'categories/' + id;
                await axios.get(url).then(response => {
                    data = response.data;
                }).catch(error => {
                    if (error.response.data.message) {
                        this.$message.error(error.response.data.message);
                    } else {
                        this.$message.error('Unknown server error');
                    }
                });
                this.$refs.tree.updateKeyChildren(id, data);
            },

            async edit(id) {
                let data;
                const url = server + 'categories/' + id + '/edit';
                await axios.get(url).then(response => {
                    data = response.data;
                }).catch(error => {
                    if (error.response.data.message) {
                        this.$message.error(error.response.data.message);
                    } else {
                        this.$message.error('Unknown server error');
                    }
                });
                this.input = data.name;
            },

            async remove(node, data) {
                const url = server + 'categories/' + data.id;
                await axios.delete(url)
                    .then(response => {
                        this.$message.success(response.data.message);
                    })
                    .catch(error => {
                        if (error.response.data.message) {
                            this.$message.error(error.response.data.message);
                        } else {
                            this.$message.error('Unknown server error');
                        }
                    })
                    .finally(() => {
                        this.reload(node.parent.data.id);
                    });
            },
        }
    };
</script>

<style scoped>
    .custom-tree-node {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        padding-right: 10px;
    }
</style>
