<template>
  <div class="contact-us full-screen">
    <div class="wrapper wrapper-full-page section content">
        <div class="container">
          <div class="row">

                <el-main id="login" v-show="showLoginForm">
                    <el-row type="flex" justify="center">
                        <el-col :span="14" :xs="23">
                            <el-form :model="loginForm"
                                     ref="form"
                                     label-position="left"
                                     label-width="0px"
                                     :rules="rules"
                                     class="login-container"
                                     >
                                <div class="title">
                                    Вход
                                </div>

                                <el-form-item prop="email" :error="errors.get('user_login')">
                                    <el-input type="text" v-model="loginForm.email" @change="errors.clear('email')"
                                              placeholder="Email" suffix-icon="el-icon-user"></el-input>
                                </el-form-item>

                                <el-form-item prop="password" :error="errors.get('password')">
                                    <el-input type="password" v-model="loginForm.password" @change="errors.clear('password')"
                                              placeholder="Пароль" suffix-icon="el-icon-lock"></el-input>
                                </el-form-item>

                                <el-form-item style="width:100%;" :error="errors.get('common')">
                                    <el-button type="primary" style="width:100%;"
                                               :loading="isSubmitting"
                                               native-type="submit"
                                               @click.native.prevent="submit"
                                               icon="el-icon-fa-sign-in">Войти
                                    </el-button>
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </el-row>
                </el-main>

          </div>
        </div>
    </div>
  </div>
</template>

<script>
    import Errors from '../includes/Errors';
    import {methods} from '../includes/util';

    export default {
        data() {
            return {
                showLoginForm: false,
                isSubmitting: false,
                loginForm: {
                    email: '',
                    password: '',
                },
                rules: {
                    email: [{required: true, message: 'Необходимо ввести Email'}],
                    password: [{required: true, message: 'Необходимо ввести Пароль'}],
                },
                errors: new Errors(),
                resetFormVisible: false,
                resetFormLoading: false,
            };
        },
        methods: {
            ...methods,
            submit() {
                this.$refs['form'].validate((valid) => {
                    if (valid) {
                        this.isSubmitting = true;
                        this.$store.dispatch('retrieveToken', {
                            email: this.loginForm.email,
                            password: this.loginForm.password,
                        })
                            .then(response => {
                                if (response.data.status === 'success') {
                                    this.$router.push(
                                        {path: '/dashboard'}
                                    );
                                }
                            })
                            .catch(error => {
                                if (error.response.data.message) {
                                    this.$message.error(error.response.data.message);
                                } else {
                                    this.$message.error("Unknown server error");
                                }
                            })
                            .finally(() => {
                                this.isSubmitting = false;
                            });
                    }
                });
            },
        },
        mounted() {
            setTimeout(() => {
                this.showLoginForm = true;
            }, 1000)
        }
    }
</script>

<style lang="scss" scoped>
    #login {
        overflow: initial;
    }

    .login-section {
        padding: 0;
        min-height: 600px;
        display: flex;
        align-items: center;
        align-content: center;
    }

    .login-container {
        background-clip: padding-box;
        margin: 0 auto;
        position: relative;
        top: 10%;
        min-width: 170px;
        max-width: 350px;
        padding: 34px;
        background-color: rgba(255, 255, 255, 0.9);

        .title {
            margin-bottom: 18px;
            margin-top: 0;
            font-size: 22px;
            text-align: center;
            color: #3091B2;
        }
    }
</style>
