<template>
  <div :class="{ 'nav-open': $sidebar.showSidebar }">
    <notifications></notifications>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
    beforeCreate() {
        if (this.$store.getters.auth && this.$store.getters.token) {
            this.$store.dispatch('checkToken')
                .then(response => {
                    if (response.data.status === 'success') {
                        this.$router.push(
                            { path: '/dashboard'}
                        );
                    }
                })
        }
    }
};
</script>

<style lang="scss">
    .vue-notifyjs.notifications {
        .alert {
            z-index: 10000;
        }

        .list-move {
            transition: transform 0.3s, opacity 0.4s;
        }

        .list-item {
            display: inline-block;
            margin-right: 10px;
        }

        .list-enter-active {
            transition: transform 0.2s ease-in, opacity 0.4s ease-in;
        }

        .list-leave-active {
            transition: transform 1s ease-out, opacity 0.4s ease-out;
        }

        .list-enter {
            opacity: 0;
            transform: scale(1.1);
        }

        .list-leave-to {
            opacity: 0;
            transform: scale(1.2, 0.7);
        }
    }

    .el-table td {
        padding: 2px 0 !important;
    }

    .el-table th {
        padding: 6px 0 !important;
    }

    .el-dialog__body {
        padding: 20px 10px !important;
    }
</style>
